<div>
  {fullName()} {fullName()}
  <button @click="click()">+</button> <br />
  <input type="text" *model="name" />
  <br />
  <input type="number" :value="someValue()" @input="someValue(+$value)" />
  <br />
  <div *if="someValue()%2 ==0">покажись</div>
  <div *else>покажись 2</div>
  <div *for="value,i in someArr">
    элемент {name()} {value()} {i}
    <input *model="value" />
    <component2 :test="value">
      <div>еще {name()}</div>
    </component2>
  </div>

  <button @click="someArr.push(3)">add</button> <br />
  <button @click="someArr.pop()">remove</button>
  <button @click="multiply()">увеличить</button>
  {someValue()}
</div>
